body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #ff6b6b, #007bff, #ffffff);
    background-size: 600% 600%;
    animation: gradientBG 10s ease infinite;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
    margin-bottom: 15px;
}


button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@media  (max-width: 600px) {
    .login-container {
        padding: 20px;
    }

    input[type="text"],
    input[type="password"],
    button {
        font-size: 14px;
        padding: 12px;
    }

    h2 {
        font-size: 20px;
    }
}
@media (min-width: 1367px) {
    .login-container {
        max-width: 750px;
    }
}